body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #1d3461;
}

p,
li {
  color: #000000;
}

.btn {
  background-color: #ffcc29;
  color: #1d3461;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  display: inline-block;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 10px;
    margin: 0 10px;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .list-inside {
    padding-left: 20px;
  }

  .mb-4,
  .mb-6,
  .mb-8 {
    margin-bottom: 1rem;
  }

  footer p {
    font-size: 0.75rem;
  }
}
