/* About page specific styles */
h2 {
  text-align: center;
  color: #1a2a57;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  color: #1a2a57;
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.smart-budgeter {
  color: #1a2a57;
  font-weight: bold;
}

p.last-text {
  color: #ffbf00;
  text-align: center;
  font-size: 1.2em;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#backButton {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 24px;
  color: #1a2a57;
  text-decoration: none;
}

#backButton:hover {
  color: #1a2a57;
}

@media (max-width: 768px) {
  #backButton {
    display: block;
  }
}
